<h1>Log In</h1>
 <!--not referencing a model so it isn't @session its :session-->

 <!-- session_path needs to go in before, otherwise it tried to go to session/new which doesn't exist -->

<%= simple_form_for :session, url: session_path, method: :post do |f| %>
	 <%= f.input :username %>
	 <%= f.input :password %>
	 <%= f.button :submit %>
<% end %>