<h1>Sign up!</h1>


<%= simple_form_for @user do |f| %>
	 <%= f.input :username %>
	 <%= f.input :email %>
	 <%= f.input :password %>
	 <%= f.input :password_confirmation %>
	 <%= f.button :submit %>
<% end %>

<!-- Simple_form KNOWS that username and password are required fields and therefore puts an asterisk before them -->