<h1>All the Pastries!</h1>

<section class="pastries">
	<% @pastries.each do |pastry| %>
		<div class="pastry">
			<%= image_tag pastry.image.url(:thumb) %>
			<p>Name: <%= link_to pastry[:name], pastry_path(pastry) %></p>

			<p>Price: <%= number_to_currency(pastry.price_in_pence.to_f / 100, unit: "£")%>
				Description: <%= pastry[:description] %>
			    Added by: <%= pastry.user.username %>, User id: <%= pastry.user_id %></p>
		</div>
	<% end %>
</section>

