<h1>Add a new pastry</h1>

<%= simple_form_for @pastry do |f| %>
	 <%= f.input :name %>
	 <%= f.input :price_in_pence %>
	 <%= f.input :description %>
	 <%= f.input :image %>
	 
	 <%= f.button :submit %>
<% end %>

<!-- Need to add in the url as it defaults to /pastries instead of user_pastries_path, now taken out -->
<!--In order to create new one, you have to have a user! New patries HAVE to have a user-->