<section class="pastry">
	<h1>Showing the <%= @pastry.name %></h1>

	<p> Name: <%= @pastry.name %></p>
	<p> Price: <%= link_to number_to_currency(@pastry.price_in_pence.to_f / 100, unit: "£"), new_pastry_order_path(@pastry) %></p>
	<p> Description: <%= @pastry.description %></p>
	<p> Added by: <%= @pastry.user.username %></p>

	<% if logged_in? and current_user.owns(@pastry) %>
		<div class="actions">
			<%= link_to "Edit Pastry", edit_pastry_path(@pastry) %>
			<%= link_to "Remove Pastry", pastry_path(@pastry), method: :delete %>
		</div>
	<% end %>
<section>



